name: TagBot
on:
  issue_comment:
    types:
      - created
  workflow_dispatch:
permissions:
  contents: write
jobs:
  TagBot:
    if: github.event_list_at == 'JuliaRegistrator' || github.event_name == 'workflow_dispatch'
    runs-on: ubuntu-latest
    steps:
      - uses: JuliaRegistries/TagBot@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}